<html>
	<head>
		<title>{{ title }}</title>
		<style>
			body { margin: 4; font-size: 12px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
			h1 { font: bold 18px sans-serif; }
			h2 { font: normal 16px sans-serif; }
			td { font: normal 12px sans-serif; }
			.fullsize-tag { font: normal 8px sans-serif; }
		</style>
	</head>
	<body bgcolor="#FFFFFF">

		{% if entry %}
		<h1>Welcome to the Lesion Image Picker interface.</h1>
		<h2>Please enter your username and session ID:</h2>
		<form action="/page.html" method="get"><table border="0">
			{% if user and uid %}
			<tr><td>Username:</td><td><input type="text" name="username" length="30" value="{{ user }}" /></td></tr>
			<tr><td>Session ID:</td><td><input type="text" name="sessionid" length="8" value="{{ uid }}" /></td></tr>
			{% else %}
			<tr><td>Username:</td><td><input type="text" name="username" length="30" /></td></tr>
			<tr><td>Session ID:</td><td><input type="text" name="sessionid" length="8" /></td></tr>
			{% endif %}
			<tr><td>&nbsp;</td><td><input type="submit" name="Start" length="8" /></td></tr>
		</table></form>

		{% elif baduser %}
		<h1>Invalid username or password. Please try again.</h1>

		{% elif finished %}
		<h1>Thank you for participating. You're done!!</h1>

		{% else %}
		<h1>Please select the image that best represents the lesion</h1>
		<h2>Lesion ID: {{ page }}</h2>
		<table border=0 cellpadding=2 cellspacing=2>
			<tr>
				{% for inum in range(0, num_images) %}
				{% if inum > 0 and inum is divisibleby 3 %}
				</tr><tr>
				{% endif %}
				{% set ts = 480 %}
				{% set iw = images[image_keys[inum]][1][0] %}
				{% set ih = images[image_keys[inum]][1][1] %}
				{% if iw > ih %}
				{% set ih = (ts * ih) // iw %}
				{% set iw = ts %}
				{% else %}
				{% set iw = (ts * iw) // ih %}
				{% set ih = ts %}
				{% endif %}
				<td>
					<a href="/page.html?lesion={{ page }}&sel={{ image_keys[inum] }}">
						<img src="/static/noheader/{{ page }}-{{ image_keys[inum] }}.jpg" width="{{ iw }}" height="{{ ih }}" />
					</a><br />
					<small><a href="/static/noheader/{{ page }}-{{ image_keys[inum] }}.jpg" target="_blank">see image {{ image_keys[inum] }} in full size</a></small>
				</td>
				{% endfor %}
			</tr>
		</table>

		{% endif %}
	</body>
</html>

